@model IEnumerable<WebMVC.Models.Estudiante>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cursos_matriculados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deuda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P_apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cursos_matriculados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deuda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_estudiante">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_estudiante">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_estudiante">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
